.header, .header2 {
    display: flex;
    background-color: #1F2937;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    margin-left: 225px;
    font-size: 24px;
    color: #F9FAF8;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: -8px;
}

.hero-secondary-text, .header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.signup {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px;
    width : 100px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.header2 {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding-top: 60px;
    padding-bottom: 150px;
}

img {
    width: 600px;
    height: 250px;
    margin-right: 225px;
    padding-top: 30px; 
}

.header-link {
    margin-right: 225px;
    gap: 20px;
}

.subdiv {
    display: block;
    margin-left: 225px;
    text-wrap: balance;
}

#rectangle{
    width:155px;
    height:155px;
    border: solid;
    border-radius: 14px;
    border-color: #3882F6;
    border-width: 4px;
}

.information {
    display: block;
    justify-content: center;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 100px;
}

.info-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.block-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.blocks {
    word-wrap: break-word;
    text-wrap: balance;
    width: 175px;
    text-align: center;
}

.quote-section {
    display: block;
    background-color: #E5E7EB;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word;
    padding-top: 20px;
    padding-left: 350px;
    padding-right: 310px;
    font-size: 36px;
    color:#1F2937;
    padding-bottom: 50px;
}

#quote {
    display: flex;
    justify-content: center;
    margin-bottom: -4px;
    font-style: italic;
}

#author {
    display: flex;
    justify-content: end;
    margin-right: 75px;
    font-size: 20px;
    font-weight: bold;

}